<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${department}" th:action="@{/newDepartment}" th:method="post">
    <fieldset style="width: fit-content; height: fit-content">
        <legend><h2 style="color:blue;"> New Department Entry</h2></legend>
        <p>Department:&nbsp;<input th:field="*{name}"></p>
    </fieldset>
    <p><button type="submit" onclick="return confirm('Are You Sure?')">Add New Entry</button></p>
</form>
<p><a th:href="@{/listDepartment}"><button type="button">Back</button></a></p>
</body>
</html>