<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${employee}" th:action="@{/editEmployee}" method="post">
    <fieldset style="height: fit-content; width: fit-content">
        <legend><h2 style="color: darkblue">Update Employee Entry</h2></legend>
        <p><input hidden th:field="*{id}"></p>
        <p>Name:&nbsp;<input th:field="*{name}"></p>
        <p>Date Of Birth:&nbsp;<input type="text" th:field="*{doB}"></p>
        <p>Address:&nbsp;<input type="text" th:field="*{address}"></p>
        <p>Salary:&nbsp;<input type="number" th:field="*{salary}"></p>
        <p>
            <select name="department">
                <option th:each="d:${departments}" th:text="${d.getName()}" th:value="${d.getId()}"
                        th:selected="(${d.id} == *{department.id})"></option>
            </select>
        </p>
    </fieldset>
    <p><button type="submit" onclick="return confirm('Are You Sure?')">Update Entry</button></p>
</form>
<p><a th:href="@{/}"><button type="button">Back</button></a></p>
</body>
</html>